@font-face {
    font-family: 'Saiyan-Sans';
    src: url('../fonts/Saiyan-Sans.ttf');
}

*   {
    box-sizing: border-box;
}

body    {
    background: #f5780b;

    font-family: 'Saiyan-Sans', sans-serif;
}

.cabecalho  {
    text-align: center;
}

.cabecalho__titulo  {
    font-size: 72px;

    padding-top: 20px;
}

.pontuacao  {
    font-size: 36px;

    padding-top: 10px;
}

.tempo__jogo    {
    font-size: 24px;

    padding-top: 10px;
}

.reset  {
    background: #000000;

    border: none;

    border-radius: 2px;

    color: #FFFFFF;

    cursor: pointer;

    height: 30px;

    margin-top: 10px;

    width: 60px;
}

.quadro__cartas .cartas {
    display: flex;

    flex-wrap: wrap;

    /* justify-content: space-between; */

    margin: 30px auto;

    width: 500px;
}

.carta  {
    cursor: pointer;

    height: 250px;

    margin: 20px auto;

    position: relative;

    width: 200px;
}

.face   {
    backface-visibility: hidden;

    transition: all .7s;

    transform-style: preserve-3d;
}

.back-face  {
    transform: rotateY(180deg);
}

img {
    height: 250px;

    position: absolute;

    width: 200px;
}

.virarCarta .back-face {
    transform: rotateY(0deg);
}

.virarCarta .front-face {
    transform: rotateY(-180deg);
}